.catImg {
    width: 1200px;
    height: 900px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    clip-path: inset(7% 9% 23.5% 9%);
    margin-top: -65px;
    margin-left: -110px;
}

#imgcont {
    width: 985px;
    height: 625px;
    overflow: hidden;
    border: 2px solid #ff0000;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: crosshair;
}
.container {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: wait;
}

.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(10px, 10px) rotate(0deg); }
    10% { transform: translate(-10px, -20px) rotate(-10deg); }
    20% { transform: translate(-30px, 0px) rotate(10deg); }
    30% { transform: translate(30px, 20px) rotate(0deg); }
    40% { transform: translate(10px, -10px) rotate(10deg); }
    50% { transform: translate(-10px, 20px) rotate(-10deg); }
    60% { transform: translate(-30px, 10px) rotate(0deg); }
    70% { transform: translate(30px, 10px) rotate(-10deg); }
    80% { transform: translate(-10px, -10px) rotate(10deg); }
    90% { transform: translate(10px, 20px) rotate(0deg); }
    100% { transform: translate(10px, -20px) rotate(-10deg); }
}